@media screen and (max-width: 960px) {

    .formationFactors {
      margin-block-start: 0 !important;
      height: auto !important;
    }
    .formationFactors__wrapper {
      flex-direction: column !important;
      padding-inline: 20px !important;
    }
    .singleFormation_content {
      top: 250px;
    }
    .singleFormation {
      width: 100% !important;
      max-height: unset !important;
      max-width: 350px;
    }
    .formationFactors__title {
      margin-block: 0 24px !important;
    }
    .singleFormation::after {
      opacity: 1 !important;
    }
  }
  .formationFactors {
    position: relative;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f5faff;
    padding-block-start: 52px;
  }
  .formationFactors::before {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    background-color: #f5faff;
    z-index: -1;
  }
  .formationFactors__title {
    text-align: center;
    color: #09557d;
    font-weight: 700;
    font-size: clamp(35px, calc(16px + 1.5vw), 32px);
    margin-block: 0;
    text-shadow: 0.1em 0.1em 0.1em #6e6d6d;
  }
  .formationFactors__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(5px, calc(15px + 1vw), 61px);
    width: 100%;
    height: 80%;
  }
  .formation_button{
    background-color: #09557d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.6em 3em;
    font-size: clamp(16px, calc(2cqw), 18px);
    line-height: 1.5em;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
  }
  .singleFormation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #afafaf;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 100%;
    max-height: 370px;
    aspect-ratio: 320 / 410;
    overflow: hidden;
    position: relative;
  }
  .singleFormation::after {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(217, 217, 217, 0) 60%,
        rgba(155, 175, 221, 0.623) 20%,
        rgba(9, 84, 125, 0.863) 50%
    );
    z-index: 999;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.43, 0.13, 0.23, 0.96);
  }
  .singleFormation:hover::after {
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.43, 0.13, 0.23, 0.96);
  }
  .singleFormation > img {
    width: 100%;
    height: 100%;
  }
  .singleFormation__content {
    padding-block-start: 10px;
    padding-inline: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 1000;
  }
  .singleFormation__content p{
    text-align: justify;
    margin-block: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
     white-space: normal;
  }
  .singleFormation__content a{
    color: black;
  }
  .singleFormation__content .singleFormation__title {
    opacity: 1;
    font-weight: 500;
    color: #f350af;
  }
  